option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ''  # Set WSGIPath to an empty string since we are not using WSGI
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "DjangoChat.settings"

packages:
  yum:
    python3-devel: []
    gcc: []
    supervisor: []

container_commands:
  01_install_dependencies:
    command: "pip install -r requirements.txt"
  02_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true

files:
  "/etc/supervisord.d/django.conf":
    mode: "644"
    owner: root
    group: root
    content: |
      [program:django]
      command=/opt/python/run/venv/bin/python /opt/python/current/app/manage.py runserver 0.0.0.0:8000
      directory=/opt/python/current/app
      autostart=true
      autorestart=true
      stdout_logfile=/var/log/django.log
      stderr_logfile=/var/log/django_err.log

commands:
  "01_restart_supervisord":
    command: "supervisorctl reread && supervisorctl update"
  "02_restart_django":
    command: "supervisorctl restart django"
