<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} ConVersa </title>
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        {% comment %} For Scrolling of chat messages {% endcomment %}
        .chat-messages {
            height: 400px;
            overflow-y: auto;
        }
    </style>
</head>
<body class="bg-teal-600 pt-16">
    <nav class="fixed top-0 left-0 w-full z-50 flex items-center justify-between px-4 py-6 bg-teal-800">
        <div>
            <a href="/" class="text-xl text-white">ConVersa</a>
        </div>
        <div class="flex items-center space-x-4">
            {% if request.user.is_authenticated %}
                <a href="/rooms/" class="text-white hover:text-gray-200">Rooms</a>
                {% comment %} We are using a form with POST method because In Django, (inbuilt)the LogoutView class-based view expects a POST request for security reasons, to prevent CSRF attacks. Making a GET request to the logout URL is not allowed. Using <a> tag makes a GET request which is not allowed {% endcomment %}
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="px-5 py-3 rounded-xl bg-teal-600 text-white hover:bg-teal-700">Logout</button>
                </form>
                
                {% comment %} <a href="/logout/" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">Log Out</a> {% endcomment %}
            {% else %} 
                <a href="/login/" class="text-white hover:text-gray-200">Log In</a>
                <a href="/signup/" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">Sign Up</a>
            {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    {% block scripts %} 
    {% comment %} Block for javascript {% endcomment %}
    {% endblock %}
</body>
</html>